.main-container {
	width: 100vw;
	min-height: 100vh;
	display: flex;
	flex-direction: row;
	justify-items: stretch;
	flex-wrap: nowrap;
}

.main-header {
	flex-grow: 2;
	min-width: 15vw;
	max-width: 15vw;
	background-color: rgb(143, 143, 143);
	padding: {
		top: 2rem;
		bottom: 2rem;
	}
}

nav {
	width: 100%;
}

main {
	flex-grow: 4;
	padding: 2rem;
	background-color: rgb(245, 245, 245);
}

.flash-message {
	min-width: 15em;
	max-width: 25em;
	position: fixed;
	z-index: 1000;
	right: 5%;
	opacity: 0.85;
	backdrop-filter: blur(25px);
	color: rgb(8, 8, 8);
}

// Vue enter/leave transition
.slide-fade-enter-active {
	transition: all 0.3s ease;
}
.slide-fade-leave-active {
	transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter,
.slide-fade-leave-to {
	transform: translateX(10px);
	opacity: 0;
}
